body {
    background-color: rgb(230, 246, 252);
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    min-height: 100vh;
}

.toolbar {
    display: flex;
    justify-content: space-between;
    padding: 10px;

    input {
        height: 20px;
    }
}

.page-title {
    display: flex;
    align-items: center;
    padding-left: 10px;
    background-color: rgb(177, 174, 23);
    color: white;
    font-size: 2em;
    height: 60px;
}

.page-container {
    display: grid;
    grid-template-columns: 200px auto;
    grid-auto-rows: minmax(100vh, 100%);

    nav {
        background-color: rgb(73, 72, 10);
    }

    .menu-container {
        position: sticky;
        top: 0;

        ul {
            display: flex;
            flex-direction: column;
            background-color: rgb(241, 241, 197);
            list-style-type: none;
            padding-left: 0;

            li {
                border-bottom: 1px solid black;
                padding: 10px;

                &:hover {
                    background-color: rgb(182, 182, 148);
                    cursor: pointer;
                }
            }
        }
    }

    .list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 20px 20px;
        padding: 30px 20px;

        .card-item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: white;
            border: 1px solid black;
            border-radius: 5px;
            height: 200px;
            width: 235px;

            &:hover {
                cursor: pointer;
            }

            img {
                overflow: hidden;
                height: 125px;
                width: 125px;
                border-radius: 50%;
            }

            .member-name {
                margin: 5px;
                font-size: 1.15em;
                text-align: center;
            }

        }
    }
}


.menu-title {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
    padding-top: 10px;

}

footer {
    background-color: white;
    position: relative;
    bottom: 0;
    height: 15px;
    padding: 10px;
}

//  ------------------------ RESIZING ------------------------


@media only screen and (max-width: 768px) {

    .toolbar {
        display: none;
    }

    .page-title {
        font-size: 1.5em;
    }

    .page-container {
        display: flex;
        flex-direction: column;

        nav {
            position: sticky;
            top: 0;
        }

        .menu-container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            height: 60px;

            .menu-title {
                display: none;
            }

            ul {
                display: flex;
                flex-direction: row;
                width: 100%;
                justify-content: space-evenly;
                background-color: rgb(73, 72, 10);
                list-style-type: none;

                li {
                    border-bottom: 1px solid black;
                    background-color: rgb(241, 241, 197);
                    padding: 10px;
                    width: 15%;
                    text-align: center;
                }
            }
        }

        .list {
            display: flex;
            flex-wrap: wrap;
            padding: 10px;
            gap: 5px;

            .card-item {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                border: none;
                padding-left: 20px;
                height: 125px;
                width: 100%;

                img {
                    height: 100px;
                    width: 100px;
                }

                .member-name {
                    margin: 25px;
                    text-align: start;
                }
            }
        }
    }
}